{% extends '::base.html.twig' %}

{% block body %}

{% if app.session.flashBag.has('promo') %}
  <div class="d-flex justify-content-center">
      {% for msg in app.session.flashBag.get('promo') %}
          <p class="alert alert-danger">{{ msg }}</p>
      {% endfor %}
  </div>
{% endif %}

<div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-right:0px;padding-left:0px;margin-top:9px;">
                <h4>Mon Paiement</h4>
            </div>
        </div>
        <form class="" action="{{ path('postpaiement_facture') }}" method="post" name="test">
            <div class="field">
             <div class="field d-flex flex-row">
              <label style="margin-right:10px;">Carte Bleu</label>
                <input class="form" type="radio" id="paiement_carte" name="paiement" value="1"/>
              </div>
              <div class="field">
                <div class="field d-flex flex-row">
                  <label style="margin-right:10px;">Paiement Chèque</label>
                  <input class="form" type="radio" id="paiement_cheque" name="paiement" value="2" data-toggle="collapse" data-target="#collapseOne"/>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="field d-flex flex-row">
                  <label style="margin-right:10px;">Paiement Mandat Administratif</label>
                  <input class="form" type="radio" id="paiement_mandat" name="paiement" value="3" data-toggle="collapse" data-target="#collapseTwo"/>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                </div>
            </div>
              </div>
              <div class="d-flex justify-content-end" style="margin-top:25px;">
                <input class="btn btn-primary" type="submit" name="paiement" value="Payer" id="suivant"/>
              </div>
        </form>


        <div class="row">
            <div class="col-md-6">
                <form action="{{ path('postpaiement_facture') }}" method="post" action="">
                    <div class="field">
                        <label>Code Promotionel :</label>
                        <input class="form" type="text" id="" name="code_promo" value=""/>
                    </div>
                    <input type="submit" class="btn btn-primary" name="codepromo" value="Valider Code"/>
                </form>

            </div>
            <div class="col-md-6">
                <div class="border-form-prix" style="margin-top:25px;">
                <p class="text-center" style="font-size:35px;margin-bottom:10px;">PRIX :
                <span id="prixreservation"></span>{{price}}€</p>
            </div>
            </div>
        </div>
    </div>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Content</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form method="POST" action="https://secure.payzen.eu/vads-payment/">
            <input type="hidden" name="vads_action_mode" value="{{ vads_action_mode }}" />
            <input type="hidden" name="vads_amount" value="{{ prixPayzen }}" />
            <input type="hidden" name="vads_capture_delay" value="{{ vads_capture_delay }}" />
            <input type="hidden" name="vads_ctx_mode" value="{{ vads_ctx_mode }}" />
            <input type="hidden" name="vads_currency" value="{{ vads_currency }}" />
            <input type="hidden" name="vads_cust_cell_phone" value="{{ vads_cust_cell_phone }}" />
            <input type="hidden" name="vads_cust_city" value="{{ vads_cust_city }}" />
            <input type="hidden" name="vads_cust_email" value="{{ vads_cust_email }}" />
            <input type="hidden" name="vads_cust_first_name" value="{{ vads_cust_first_name }}" />
            <input type="hidden" name="vads_cust_id" value="{{ vads_cust_id }}" />
            <input type="hidden" name="vads_cust_last_name" value="{{ vads_cust_last_name }}" />
            <input type="hidden" name="vads_cust_title" value="{{ vads_cust_title }}" />
            <input type="hidden" name="vads_page_action" value="{{ vads_page_action }}" />
            <input type="hidden" name="vads_payment_config" value="{{ vads_payment_config }}" />
            <input type="hidden" name="vads_return_mode" value="{{ vads_return_mode }}" />
            <input type="hidden" name="vads_site_id" value="{{ vads_site_id }}" />
            <input type="hidden" name="vads_trans_date" value="{{ vads_trans_date }}" />
            <input type="hidden" name="vads_trans_id" value="{{ vads_trans_id}}" />
            <input type="hidden" name="vads_url_return" value="{{ vads_url_return }}" />
            <input type="hidden" name="vads_version" value="{{ vads_version }}" />
            <input type="hidden" name="signature" value="{{ signature }}" />
            <input style="display:none;" type="submit" name="payer" value="Payer" id="payer"/>
        </form>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        <script src="{{ asset('js/paiement.js') }}"></script>
{% endblock %}
