{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding-right:0px;padding-left:0px;margin-top:9px;">
            <h4>Mon Paiement</h4>
        </div>
    </div>  
    <form>
        <div class="field">
            <label>Carte Bleu</label>
            <input class="form" type="radio" id="paiement_carte" name="paiement_carte" value="1"/>
            <label>Paiement Chèque</label>
            
            <input class="form" type="radio" id="paiement_cheque" name="cheque" value="2"/>
            <label>Paiement Mandat Administratif</label>
            <input class="form" type="radio" id="paiement_mandat" name="paiement_mandat" value="3"/>
        </div>
    </form>
    <form method="POST" action="https://secure.payzen.eu/vads-payment/">
        <input type="hidden" name="vads_action_mode" value="{{ vads_action_mode }}" />
        <input type="hidden" name="vads_amount" value="{{ prixPayzen }}" />
        <input type="hidden" name="vads_capture_delay" value="{{ vads_capture_delay }}" />
        <input type="hidden" name="vads_ctx_mode" value="{{ vads_ctx_mode }}" />
        <input type="hidden" name="vads_currency" value="{{ vads_currency }}" />
        <input type="hidden" name="vads_cust_cell_phone" value="{{ vads_cust_cell_phone }}" />
        <input type="hidden" name="vads_cust_city" value="{{ vads_cust_city }}" />
        <input type="hidden" name="vads_cust_email" value="{{ vads_cust_email }}" />
        <input type="hidden" name="vads_cust_first_name" value="{{ vads_cust_first_name }}" />
        <input type="hidden" name="vads_cust_id" value="{{ vads_cust_id }}" />
        <input type="hidden" name="vads_cust_last_name" value="{{ vads_cust_last_name }}" />
        <input type="hidden" name="vads_cust_title" value="{{ vads_cust_title }}" />
        <input type="hidden" name="vads_page_action" value="{{ vads_page_action }}" />
        <input type="hidden" name="vads_payment_config" value="{{ vads_payment_config }}" />
        <input type="hidden" name="vads_site_id" value="{{ vads_site_id }}" />
        <input type="hidden" name="vads_trans_date" value="{{ vads_trans_date }}" />
        <input type="hidden" name="vads_trans_id" value="{{ vads_trans_id}}" />
        <input type="hidden" name="vads_url_return" value="{{ vads_url_return }}" />
        <input type="hidden" name="vads_version" value="{{ vads_version }}" />
        <input type="hidden" name="signature" value="{{ signature }}" />
        <input type="submit" name="payer" value="Payer"/>
    </form>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="field">
                    <label>Code Promotionel :</label>
                    <input class="form" type="text" id="" name="code_promo" value=""/>
                </div>
                <input type="submit" class="btn btn-primary" value="Valider Code"/>
            </form>
        </div>
        <div class="col-md-6">
            <div class="border-form-prix">
            <p class="text-center" style="font-size:35px;margin-bottom:10px;">PRIX :
            <span id="prixreservation"></span>{{prixtotal}}€</p>
        </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% endblock %}