{% extends 'base.html.twig' %}

{% block body %}

    <div style="text-align:center;">
         <a class="nav-link" href="{{ path('admin_page') }}" style="font-size:25px;color:black;">Retour</a>
    </div>
    {% if app.session.flashBag.has('validationfacture') %}
      <div class="d-flex justify-content-center">
          {% for msg in app.session.flashBag.get('validationfacture') %}
              <p class="alert alert-success">{{ msg }}</p>
          {% endfor %}
      </div>
    {% endif %}
    <div style="margin-left:40px;margin-right:40px;margin-top:100px;">
        <div class="container-fluid border-util">
            <div class="row d-flex flex-row" style="margin:0;margin-right:0;margin-left:0;">
              <table id="table" class="col-md-12">
                <thead class="user_form2">
                  <tr>
                    <th class="user_form" data-sort="string">Civilite</th>
                    <th class="user_form" data-sort="string">Nom</th>
                    <th class="user_form" data-sort="string">Prenom</th>
                    <th class="user_form" data-sort="string">N° Facture</th>
                    <th class="user_form text-center" data-sort="string" >Status</th>
                    <th class="user_form text-center" data-sort="string">Paiement</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for facture in factures %}
                    <td style="padding-top:5px;">{% if facture.customer.sexe == 0 %}Mme{% elseif facture.customer.sexe == 1 %}Mr{% endif %}</td>
                    <td>{{facture.customer.firstname}}</td>
                    <td>{{facture.customer.lastname}}</td>
                    <td>{{facture.number}}</td>
                    <td class="text-center">{% if facture.status == 0 %}<div class="loader loader--style1" title="0">
  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
  <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
  <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
    C22.32,8.481,24.301,9.057,26.013,10.047z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 20 20"
      to="360 20 20"
      dur="0.5s"
      repeatCount="indefinite"/>
    </path>
  </svg>
</div>{% elseif facture.status == 1 %}<i class="fas fa-times text-center" style="color:red;"></i>{% else %}<i class="fas fa-check text-center" style="color:green;"></i>{% endif %}</td>
                    <td class="text-center">{% if facture.status == 1 %}
                      <form action="{{ path('admin_paiement') }}" method="post" action="" onSubmit="return confirm('Etes-vous sur de vouloir valider cette facture ?')">
                        <input type="text" name="factureid" value="{{facture.id}}" hidden>
                        <input type="submit" class="btn btn-primary"  name="validerfacture" value="Valider Facture"/>
                    </form>{% else %}{% endif %}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="{{ asset('js/stupidtable.js') }}"></script>
      <script src="{{ asset('js/stupidtable.min.js') }}"></script>
      <script src="{{ asset('js/sort.js') }}"></script>
      <script src="{{ asset('js/valider.js') }}"></script>
{% endblock %}
